extends layout

block content
  #loading
    Loading...
  #match.modal.fade
    .modal-dialog
  #profile-template
    

    .row
      .col-lg-4.col-sm-12.card
        h1 70%
        | &nbsp;match
        .pull-right
          h1 3
          | &nbsp;mutual friends
        br
        img.avatar(src=user.image)
        // I'm sorry
        .center
          .btn-group
            button.btn.btn-default(type='button')
              img(src='/img/broken-heart.png')
            button.btn.btn-default(type='button', data-toggle='modal', href='#match')
              img(src='/img/heart.png')
      .col-lg-8.col-sm-1.bands
        h1 Bands they like
        ul
                      
           {( bands.forEach(function(band) { )}
           li
            img(src!='{{ band.image.large }}')
            .name {{ band.name }}
           {( }) )}
