extends layout

block content
  #landing.jumbotron
    .vert-center
      h1.logo LoveSong
      p Melt with your musical match.
      a#login.btn.btn-primary.btn-large(href='/asd24') Log in with Facebook
  #home
    #loading
      p Reticulating spines...
    #match.modal.fade
      .modal-dialog
    #profile
    script#profile-template(type='text/template')
      .row.card
        .col-lg-4.col-sm-12
          h1 {{ profile.firstName }}
          .pull-right
            h2 {{ match }}%
            | &nbsp;match
          br
          img.avatar(src!='{{ profile.image }}')
          .center
            .btn-group
              button#dislike.btn.btn-default(type='button')
                img(src='/img/broken-heart.png')
              button#like.btn.btn-default(type='button')
                img(src='/img/heart.png')
        .col-lg-8.col-sm-1.bands
          h1 Artists they listen to
          
          ul.media-list

             | {( bands.forEach(function(band) { )}
             li.media
              span.pull-left
                .art(style="background: url('{{ band.image.large }}') 50% 50%")
              .media-body  
                h3.name {{ band.name }}
                h4.like Like <strong>The Beatles</strong>
             | {( }) )}
