<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>NodePack</title>
	
	<link href="lib/bootstrap-cerulean.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
			
	<script src="lib/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="lib/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="name pull-left">
				<img src='images/logo.png' class='pull-left' alt='landmarkr'/>
				<a class="brand pull-left" href="#">Reedie</a>
			</div>
			<div class="pull-right"><button class="btn" id="reset">Reset</button></div>
			<form class="navbar-form navbar-search">
				<input type="text" class="search-query" id="search-query" placeholder="Search for books and highlights" />
				<input class="btn" type="submit" value="Search" />
			</form>
		</div>
	</div>
	
	<div class="container meta" id="prompt">
		<div class="hero-unit">
			<h1>Enter your search term above!</h1>
			<p>I recommend <em>father</em> as a term to see the bonus features.</p>
		</div>
	</div>
	
	<div class="container meta hide" id="loading">
		<div class="hero-unit">
			<h1>Loading...</h1>
			<div class="progress progress-striped active">
			  <div class="bar" style="width: 100%;"></div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<ul class="media-list books" id="bookList">
				</ul>
			</div>
			<div class="span6">
				<ul class="media-list highlights" id="highlightList">
				</ul>
			</div>
		</div>
	</div>
</body>
</html>