<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>NodePack</title>
	
	<link href="lib/bootstrap-cerulean.css" rel="stylesheet">
	
	<link href="css/style.css" rel="stylesheet">
			
	<script src="lib/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="lib/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="lib/underscore.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
	
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand pull-left" href="#">NodePack</a>
			</div>
		</div>
	</div>
	
	<div class="container meta" id="prompt">
		<div class="hero-unit">
			<h2>Great app here!</h2>
			<button class="btn btn-large" id="start" value="Start">Start</button>
		</div>
	</div>
	
	<div class="container meta hide" id="loading">
		<div class="hero-unit">
			<h1>Loading...</h1>
			<div class="progress progress-striped active">
			  <div class="bar" style="width: 100%;"></div>
			</div>
		</div>
	</div>
</body>

</html>