doctype 5
html
  head
    if user
      title LoveSong | #{user.name}
    else
      title LoveSong
    link(rel="shortcut icon", href="img/favicon.png?v=2")
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Courgette', rel='stylesheet', type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1")


    block scripts
      <script data-main="/scripts/app/app" src="/scripts/lib/require.js"></script>
  body
      header.navbar.loggedin
        .container
          a.navbar-brand.logo(href='/') LoveSong
          ul.nav.navbar-nav.pull-right
            li
              a(href='/profile')
                if(user)
                  img.avatar(src=user.image)
                  | #{user.name}
                else
                  img.avatar
            li
              a(href='/logout') Log out
    #content.container
      block content
