html, body, #map , .wrapper{
	height: 100%;
	overflow:hidden;
}

/* ==CONTAINERS */
html, body, #map, #panel {
	height: 100%;
	
}

/* ==NAVBAR */
.navbar {
	margin-bottom: 0;
}

.navbar-inner img.pull-left {
	margin-top:5px;
}

.navbar-search {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	float: none;
	clear: none;
}
.search-query {
	width: 400px;
	margin: 0 auto;
}

.navbar #use-current {
	display: block;
	width: 25px;
	height: 25px;
	margin-top:2px;
	background: url('../images/locator.png') no-repeat left top;
	text-indent: -5000px;
	position: relative;
	left: 5px;
}
.navbar #use-current:hover {
	background-position: -25px 0px;
}

.btn {
	position: absolute;
	top: 0px;
	right: 10px;
}

/* ==CHECKBOX */
.switch {
	position: relative;
	padding-right:10px;
}
.switch label.desc {
	position: absolute;
	left: 0;
	/*top: 5px;*/
	width: 95%;
	margin-left: -100%;
	text-align: right;
}
.switch label.desc, .onoffswitch-inner:before, .onoffswitch-inner:after {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	height: 26px;
	line-height: 26px;
}
.onoffswitch {
    position: relative;
		width: 135px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
		/*margin-top: 5px;*/
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
		overflow: hidden;
		cursor: pointer;
    border: 2px solid #666666;
		border-radius: 30px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left;
		width: 50%;
		padding: 0;
		color: white;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 16px;
		font-weight: normal;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Origin";
    padding-left: 15px;
    background-color: #6BB2ED; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Destination";
    padding-right: 15px;
    background-color: #FFFFFF; color: #666666;
    text-align: right;
}
.onoffswitch-switch {
    width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #666666; border-radius: 30px;
    position: absolute; top: -2px; bottom: -2px; right: 101px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


/* ==PANEL */
#panel {
	display: none;
	width: 0%;
	float: left;
	overflow-y:auto;
}

#panel .nearby {
	font-size: 90%;
	display: block;
}

/* ==MAP */
#map {
	float: left;
	width: 100%;
}

/* ==INFOBOX */

.infoBox {
  z-index: 1010;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.infoBox.top {
  margin-top: -10px;
}

.infoBox.right {
  margin-left: 10px;
}

.infoBox.bottom {
  margin-top: 10px;
}

.infoBox.left {
  margin-left: -10px;
}

.infoBox p {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}

.infoBox p:empty {
  display: none;
}

.infoBox form {
  padding: 9px 14px;
}

.infoBox .arrow,
.infoBox .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.infoBox .arrow {
  border-width: 11px;
}

.infoBox .arrow:after {
  border-width: 10px;
  content: "";
}

.infoBox.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.infoBox.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}

.infoBox.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.infoBox.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}

.infoBox.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.infoBox.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}

.infoBox.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.infoBox.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}


/* ==GMPAPS */
#map label { width: auto; display:inline; }
#map img, #panel img { max-width: none; }
.adp-step, .adp-text, .adp-directions {
	width: 100%;
}
.gmnoprint {
	margin-right: 20px !important;
}

/* ===MOBILE */
@media (max-width: 1137px) {
	.search-query {
		width:400px;
	}
	
	
	.navbar-search  {
		height:100px;
	}
	
	.search-query {
		min-height:40px;
	}
	
	body {
		font-size:150%
	}
	
	
	
}

