body {
	padding-top: 45px;
}

/* ==NAVBAR */
.navbar {
	margin-bottom: 0;
}

.navbar-inner img.pull-left {
	margin-top:5px;
}

.navbar-search {
/*	width: 600px;*/
	margin-left: auto;
	margin-right: auto;
	float: none;
	clear: none;
}
form {
	width: 510px;
	margin: 0 auto;
}

form .search-query {
	width: 400px;
}

#navbar .pull-right {
	float: right;
}

.meta {
	margin-top: 50px;
}