html, body, #map , .wrapper{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

	height: 100%;
	overflow:hidden;
}

/* ==CONTAINERS */
html, body, #map, #panel {
	height: 100%;
	
}

/* ==NAVBAR */
.navbar {
	margin-bottom: 0;
}
.navbar-search {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	float: none;
	clear: none;
}
.search-query {
	width: 500px;
	margin: 0 auto;
}

.navbar #use-current {
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	left: -30px;
	top: 5px;
	background: url('../images/locator.png') no-repeat left top;
	text-indent: -1000px;
}
.navbar #use-current:hover {
	background-position: -25px 0px;
}

/* ==CHECKBOX */
.switch {
	position: relative;
}
.switch label.desc {
	position: absolute;
	left: 0;
	top: 5px;
	width: 95%;
	margin-left: -100%;
	text-align: right;
}
.switch label.desc, .onoffswitch-inner:before, .onoffswitch-inner:after {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	height: 28px;
	line-height: 28px;
}
.onoffswitch {
    position: relative; width: 103px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
		margin-top: 5px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
		overflow: hidden;
		cursor: pointer;
    border: 2px solid #666666;
		border-radius: 30px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left;
		width: 50%;
		padding: 0;
		color: white;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 16px;
		font-weight: normal;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Start";
    padding-left: 15px;
    background-color: #6BB2ED; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Finish";
    padding-right: 15px;
    background-color: #FFFFFF; color: #666666;
    text-align: right;
}
.onoffswitch-switch {
    width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #666666; border-radius: 30px;
    position: absolute; top: -2px; bottom: -2px; right: 69px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


/* ==PANEL */
#panel {
	display: none;
	width: 0%;
	float: left;
	overflow-y:auto;
}

/* ==MAP */
#map {
	float: left;
	width: 100%;
}

/* ==INFOBOX */
.infoBox {
	background: white;
}

/* ==GMPAPS */
#map label { width: auto; display:inline; }
#map img, #panel img { max-width: none; }
.adp-step, .adp-text, .adp-directions {
	width: 100%;
}
.gmnoprint {
	margin-right: 20px !important;
}

/* ===MOBILE */
@media (max-width: 1137px) {
	.search-query {
		width:400px;
	}
	
	
	.navbar-search  {
		height:100px;
	}
	
	.search-query {
		min-height:40px;
	}
	
	body {
		font-size:150%
	}
	
	
	
}

