$background = #93e7e0
$background-image = url('../img/noise.png')
$logoColor = #e8475f

*
  font-family: Lato, sans-serif

body, .jumbotron, .btn
  background-image: $background-image

body, .jumbotron
  background-color: $background

h1.logo, a.logo
  color: $logoColor
  font-family: 'Courgette', cursive

header.navbar
  background-color: rgba(0, 0, 0, 0.1)
  border-radius: 0

  .logo
    font-size: 2em

    &:hover
      color: darken($logoColor, 20%)

  .avatar
    margin: -.25em 1em -.25em -.25em
    border-radius: 50%
    height: 2em

.jumbotron
  padding-top: 20% // Change me, this is terrible. I need to be centered vertically
  text-align: center

  .logo
    font-size: 7em
