* {
  font-family: Lato, sans-serif;
}
body {
  background: #93e7e0;
}
h1.logo {
  color: #e8475f;
  font-family: 'Courgette', cursive;
  font-size: 7em;
}
.jumbotron {
  padding-top: 20%;
  text-align: center;
  background: #93e7e0;
}
