$background = #93e7e0
$background-image = url('../img/noise.png')
$logoColor = #e8475f

*
  font-family: Lato, sans-serif

body, .btn
  background-image: $background-image

body
  background-color: $background

h1.logo, a.logo
  color: $logoColor
  font-family: 'Courgette', cursive

header.navbar
  background-color: rgba(0, 0, 0, 0.1)
  border-radius: 0

  .logo
    font-size: 2em

    &:hover
      color: darken($logoColor, 20%)

  .avatar
    margin: -.25em 1em -.25em -.25em
    border-radius: 50%
    height: 2em

.jumbotron
  padding: 0
  background: transparent
  text-align: center
  position: absolute
  left: 0
  top: 0
  height: 100%
  width: 100%

  .vert-center
    position: absolute
    top: 50%
    width: 100%

  .logo
    font-size: 7em

@media (max-width: 560px)
  .jumbotron
    .logo
      font-size: 3em
