* {
  font-family: Lato, sans-serif;
}
body,
.jumbotron,
.btn {
  background-image: url("../img/noise.png");
}
body,
.jumbotron {
  background-color: #93e7e0;
}
h1.logo,
a.logo {
  color: #e8475f;
  font-family: 'Courgette', cursive;
}
header.navbar {
  background-color: rgba(0,0,0,0.1);
  border-radius: 0;
}
header.navbar .logo {
  font-size: 2em;
}
header.navbar .logo:hover {
  color: #d71b37;
}
header.navbar .avatar {
  margin: -0.25em 1em -0.25em -0.25em;
  border-radius: 50%;
  height: 2em;
}
.jumbotron {
  padding-top: 20%;
  text-align: center;
}
.jumbotron .logo {
  font-size: 7em;
}
